* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "ubisoft_sansbold", sans-serif;
}

/* Nav */

.navegador{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.mainNav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navegador img{
    width: 10%;
    object-fit: cover;
    margin: 0.3rem 4rem 0.3rem 3rem ;
 }

.mainNav p{
   margin: 0.5rem 6rem 0 0;
}

.secondMain{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 3rem;
}

.secondMain p{
    margin-right: 0.7rem;
}

.download{
    margin-bottom: 0.5rem;
    transform: scale(1.2);
}

.icons{
    margin-right: 3rem;
    transform: scale(1.2);
}

.secondMain div {
    margin-right: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Banner */

.sec{
    width: 100%;
    height: 900px;
background-image: url("https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/6B49sRNBG3UNrxVHuPMtqc/3b9cab25b0f3813b0d59654562a34dfe/ubi-homescreen-afop-keyart-v1.jpg");
background-color: #cccccc; /* if the image is unavailable */
background-position: center; /* Center the image */
background-repeat: no-repeat, repeat;
background-size: cover;
position: relative;
z-index: 1; 
}

.sec::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right bottom, #05193799,  #00000099, #00000000, rgb(0, 0, 0));
    z-index: -1;
  }

.sec div{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec div div{
    color: rgb(255, 255, 255);
}


.sec div div H1{
    font-size: 3rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
}

.sec div div p{
    margin-top: 0.5rem;
    font-weight: lighter;
    text-align: center;
    width: 60%;
    font-size: 1.5rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
}

/* Banner 2 */

.sec2{
    width: 100%;
    height: 500px;
background-image: url("https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/7u0o3i84kn2M0zywawe5fA/829fa9d992cc5772d4b009b122dbef07/ubisoft-evergreen_full_banner-swo_no_logo-early-access.jpg");
background-color: #cccccc; /* if the image is unavailable */
background-position: center; /* Center the image */
background-repeat: no-repeat, repeat;
background-size: cover;
color: white;
}

.sec2 div{
    gap: 2rem;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

bannertwo-component{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.h1{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.p{
    font-weight: lighter;
    font-size: 1.2rem;
}

/* Cards */

.card{
    display: flex;
    width: 15%;
    height: fit-content;
    flex-wrap: wrap;
} 
    /* porque no funciona :( */

.sec3{
    gap: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 700px;
    background-color: #eeeeee;
    padding: 0 3rem 0 3rem;

}

.sec3 div{
    display: flex;
    height:fit-content;
    justify-content: center;    
}

.sec3 h1{
    font-weight: bolder;
    font-size: 2rem;
}